# Wordpress - Ignore core, configuration, examples, uploads, and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: Remove or comment out the lines below to include specific core files.
/wp-admin/
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
#/index.php # Commented out to include index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# Optional Plugin and Theme Directories
#
# Uncomment the lines below if you want to include plugins or themes.
#/wp-content/plugins
#/wp-content/themes

# Cache and Temporary Files
/wp-content/cache/
/wp-content/upgrade/
/wp-content/wflogs/
/wp-content/wp-cache-config.php

# Ignore Node.js Modules (if applicable)
/node_modules/

# Ignore Composer Dependencies (if applicable)
